<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <project vn="Vận tải" en="Transport" ns="xBXEv1">

    <menu vn="Danh mục" en="Catalog" ns="xBXEv1.PRE.Catalog">
      <form vn="Nhóm xe" en="Group" ns="xBXEv1.PRE.Catalog">FrmGroup</form>
      <form vn="Loại xe" en="Kind" ns="xBXEv1.PRE.Catalog">FrmKind</form>
      <form vn="Xe cộ" en="Vehicle" ns="xBXEv1.PRE.Catalog">FrmVehicle</form>
    </menu>

    <menu vn="Báo cáo" en="Report" ns="xBXEv1.PRE.Report">
      <form vn="In ấn" en="Print" ns="xBXEv1.PRE.Report">FrmPrint</form>
    </menu>

    <menu vn="Thống kê" en="Sumary" ns="xBXEv1.PRE.Sumary">
      <form vn="Doanh thu" en="Sales" ns="xBXEv1.PRE.Sumary">FrmSales</form>
    </menu>

    <menu vn="Kiểm tra" en="Test" ns="xBXEv1.PRE">
      <form vn="Bản thử" en="Demo" ns="xBXEv1.PRE">FrmDemo</form>
    </menu>

  </project>
</configuration>