<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="setting1" value="key"/>
  </appSettings>

  <connectionStrings>
    <add name="prod" connectionString="YourConnectionString"/>
  </connectionStrings>
  <contacts>
    <contact contactId="2">
      <firstName>Barney</firstName>
      <lastName>Gottshall</lastName>
    </contact>
    <contact contactId="3">
      <firstName>Armando</firstName>
      <lastName>Valdes</lastName>
    </contact>
    <contact contactId="4">
      <firstName>Adam</firstName>
      <lastName>Gauwain</lastName>
    </contact>
  </contacts>

  <project vn="Vận tải" en="Transport" ns="xBXEv1.PRE">
    <menu vn="Danh mục" en="Catalog" ns="Catalog">
      <form vn="Nhóm xe" en="Group" ns="Catalog">FrmGroup</form>
      <form vn="Loại xe" en="Kind" ns="Catalog">FrmKind</form>
    </menu>
    <menu vn="Thống kê" en="Sumary" ns="Sumary">
      <form vn="Doanh thu" en="Sales" ns="Sumary">FrmSales</form>
    </menu>
  </project>
</configuration>