<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="xBXEv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <xBXEv1.Properties.Settings>
      <setting name="Name" serializeAs="String">
        <value>Vận tải</value>
      </setting>
      <setting name="Catalog" serializeAs="String">
        <value>Danh mục</value>
      </setting>
      <setting name="Report" serializeAs="String">
        <value>Báo cáo</value>
      </setting>
      <setting name="Sumary" serializeAs="String">
        <value>Thống kê</value>
      </setting>
    </xBXEv1.Properties.Settings>
  </applicationSettings>
</configuration>