<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <menu>
    <Id>1</Id>
    <ParentId>0</ParentId>
    <Text1>Vận tải</Text1>
    <Text2>Transport</Text2>
    <Type>BXE</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>2</Id>
    <ParentId>1</ParentId>
    <Text1>Danh mục</Text1>
    <Text2>Catalog</Text2>
    <Type>BXE.PRE.Catalog</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>3</Id>
    <ParentId>2</ParentId>
    <Text1>Nhóm xe</Text1>
    <Text2>Group</Text2>
    <Type>BXE.PRE.Catalog.FrmGroup</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>4</Id>
    <ParentId>2</ParentId>
    <Text1>Loại xe</Text1>
    <Text2>Kind</Text2>
    <Type>BXE.PRE.Catalog.FrmKind</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>5</Id>
    <ParentId>2</ParentId>
    <Text1>Xe cộ</Text1>
    <Text2>Vehicle</Text2>
    <Type>BXE.PRE.Catalog.FrmVehicle</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>6</Id>
    <ParentId>1</ParentId>
    <Text1>Báo cáo</Text1>
    <Text2>Report</Text2>
    <Type>BXE.PRE.Report</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>7</Id>
    <ParentId>6</ParentId>
    <Text1>In ấn</Text1>
    <Text2>Print</Text2>
    <Type>BXE.PRE.Report.Print</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>8</Id>
    <ParentId>1</ParentId>
    <Text1>Thống kê</Text1>
    <Text2>Sumary</Text2>
    <Type>BXE.PRE.Sumary</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>9</Id>
    <ParentId>8</ParentId>
    <Text1>Doanh thu</Text1>
    <Text2>Sales</Text2>
    <Type>BXE.PRE.Sumary.Sales</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>10</Id>
    <ParentId>1</ParentId>
    <Text1>Kiểm tra</Text1>
    <Text2>Test</Text2>
    <Type>BXE.PRE.Test</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
  <menu>
    <Id>11</Id>
    <ParentId>10</ParentId>
    <Text1>Cơ sở</Text1>
    <Text2 />
    <Type>BXE.PRE.Test.FrmBase</Type>
    <Show>true</Show>
    <Order>0</Order>
  </menu>
</configuration>