<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AvailablePlugin>
    <Level>1</Level>
    <Text1>Vận tải</Text1>
    <Text2>Transport</Text2>
    <Type>BXE</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>2</Level>
    <Text1>Danh mục</Text1>
    <Text2>Catalog</Text2>
    <Type>BXE.PRE.Catalog</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>3</Level>
    <Text1>Nhóm xe</Text1>
    <Text2>Group</Text2>
    <Type>BXE.PRE.Catalog.FrmGroup</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>3</Level>
    <Text1>Loại xe</Text1>
    <Text2>Kind</Text2>
    <Type>BXE.PRE.Catalog.FrmKind</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>3</Level>
    <Text1>Xe cộ</Text1>
    <Text2>Vehicle</Text2>
    <Type>BXE.PRE.Catalog.FrmVehicle</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>2</Level>
    <Text1>Báo cáo</Text1>
    <Text2>Report</Text2>
    <Type>BXE.PRE.Report</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>3</Level>
    <Text1>In ấn</Text1>
    <Text2>Print</Text2>
    <Type>BXE.PRE.Report.Print</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>2</Level>
    <Text1>Thống kê</Text1>
    <Text2>Sumary</Text2>
    <Type>BXE.PRE.Sumary</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>3</Level>
    <Text1>Doanh thu</Text1>
    <Text2>Sales</Text2>
    <Type>BXE.PRE.Sumary.Sales</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>2</Level>
    <Text1>Kiểm tra</Text1>
    <Text2>Test</Text2>
    <Type>BXE.PRE</Type>
    <Show>true</Show>
  </AvailablePlugin>
  <AvailablePlugin>
    <Level>3</Level>
    <Text1>Cơ sở</Text1>
    <Text2 />
    <Type>BXE.PRE.Test.FrmBase</Type>
    <Show>true</Show>
  </AvailablePlugin>
</configuration>