<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="xSKGv2" connectionString="Data Source=.;Initial Catalog=xSKGv2;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>