<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PRE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="xBXEv1" connectionString="Data Source=.;Initial Catalog=xBXEv1;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <!--<add name="xBXEv1" connectionString="Data Source=|DataDirectory|\xBXEv1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />-->
  </connectionStrings>

  <userSettings>
    <PRE.Properties.Settings>
      <setting name="Login" serializeAs="String">
        <value>Đăng nhập</value>
      </setting>
      <setting name="Logout" serializeAs="String">
        <value>Đăng xuất</value>
      </setting>
    </PRE.Properties.Settings>
  </userSettings>

</configuration>