<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="xBXEv1" connectionString="Data Source=.;Initial Catalog=xBXEv1;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
    <!--<add name="xBXEv1" connectionString="Data Source=|DataDirectory|\xBXE.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />-->
  </connectionStrings>
</configuration>