<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="xBXEv1" connectionString="Data Source=.;Initial Catalog=xBXEv1;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <!--<add name="xBXEv1" connectionString="Data Source=|DataDirectory|\xBXEv1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />-->
  </connectionStrings>
</configuration>