<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <Plugin>
    <Level>1</Level>
    <Text1>Vận tải</Text1>
    <Text2>Transport</Text2>
    <Type>BXE</Type>
    <Icon>Icon\Transport.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>2</Level>
    <Text1>Danh mục</Text1>
    <Text2>Catalog</Text2>
    <Type>BXE.PRE.Catalog</Type>
    <Icon>Icon\Catalog.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>3</Level>
    <Text1>Nhóm xe</Text1>
    <Text2>Group</Text2>
    <Type>BXE.PRE.Catalog.FrmGroup</Type>
    <Icon>Icon\Group.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>3</Level>
    <Text1>Loại xe</Text1>
    <Text2>Kind</Text2>
    <Type>BXE.PRE.Catalog.FrmKind</Type>
    <Icon>Icon\Kind.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>3</Level>
    <Text1>Xe cộ</Text1>
    <Text2>Vehicle</Text2>
    <Type>BXE.PRE.Catalog.FrmVehicle</Type>
    <Icon>Icon\Vehicle.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>2</Level>
    <Text1>Báo cáo</Text1>
    <Text2>Report</Text2>
    <Type>BXE.PRE.Report</Type>
    <Icon>Icon\Report.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>3</Level>
    <Text1>In ấn</Text1>
    <Text2>Print</Text2>
    <Type>BXE.PRE.Report.FrmPrint</Type>
    <Icon>Icon\Print.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>2</Level>
    <Text1>Thống kê</Text1>
    <Text2>Sumary</Text2>
    <Type>BXE.PRE.Sumary</Type>
    <Icon>Icon\Sumary.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>3</Level>
    <Text1>Doanh thu</Text1>
    <Text2>Sales</Text2>
    <Type>BXE.PRE.Sumary.FrmSales</Type>
    <Icon>Icon\Sales.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>2</Level>
    <Text1>Kiểm tra</Text1>
    <Text2>Test</Text2>
    <Type>BXE.PRE</Type>
    <Icon>Icon\Test.png</Icon>
    <Show>true</Show>
  </Plugin>
  <Plugin>
    <Level>3</Level>
    <Text1>Cơ sở</Text1>
    <Text2>Base</Text2>
    <Type>BXE.PRE.FrmBase</Type>
    <Icon>Icon\Base.png</Icon>
    <Show>true</Show>
  </Plugin>
</DocumentElement>