@{
    
    ViewBag.Title = "Index";
    
}
<h2>@ViewBag.Message</h2>
@{
    foreach (var x in ViewBag.a)
    {
    @x.Username
    <br />
    }


    foreach (var y in ViewBag.b)
    {
    @y.RoleName
    <br />
    }    
}
