<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <project vn="Quán ăn" en="Transport" ns="POS">

    <menu vn="Danh mục" en="Catalog" ns="POS.PRE.Catalog">
      <form vn="Nhóm" en="Group" ns="POS.PRE.Catalog">FrmGroup</form>
      <form vn="Loại" en="Kind" ns="POS.PRE.Catalog">FrmKind</form>
      <form vn="Sản phẩm" en="Product" ns="POS.PRE.Catalog">FrmProduct</form>
    </menu>

    <menu vn="Báo cáo" en="Report" ns="POS.PRE.Report">
      <form vn="In ấn" en="Print" ns="POS.PRE.Report">FrmPrint</form>
    </menu>

    <menu vn="Thống kê" en="Sumary" ns="POS.PRE.Sumary">
      <form vn="Doanh thu" en="Sales" ns="POS.PRE.Sumary">FrmSales</form>
    </menu>

    <menu vn="Kiểm tra" en="Test" ns="POS.PRE">
      <form vn="Cơ sở" en="Base" ns="POS.PRE">FrmBase</form>
    </menu>

  </project>

</configuration>