<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SKG.BXE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="xSKGv1" connectionString="Data Source=.;Initial Catalog=xSKGv1;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <applicationSettings>
    <SKG.BXE.Properties.Settings>
      <setting name="IsDevExpress" serializeAs="String">
        <value>True</value>
      </setting>
    </SKG.BXE.Properties.Settings>
  </applicationSettings>

</configuration>