<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BXE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="xSKGv1" connectionString="Data Source=.;Initial Catalog=xSKGv1;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <BXE.Properties.Settings>
      <setting name="IsDevExpress" serializeAs="String">
        <value>True</value>
      </setting>
    </BXE.Properties.Settings>
  </userSettings>
</configuration>